<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br />
    <br />
    <h1 class="header center blue-grey-text text-lighten-4 brand-title">AUR Browser</h1>
    <div class="row center">
      <h5 class="header col s12 light white-text">A web AUR browser.</h5>
    </div>
    <div class="row">
      <form class="col s12" method="get">
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix white-text">search</i>
            <input id="search" name="search" type="search" required>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="main_container" class="container">
  <div class="row">
    <div class="col s12 m6 offset-m3">
      <div class="card blue-grey darken-1">
        <div id="main_stats_card" class="card-content white-text">
          <span class="card-title">Statistics</span>
          <div id="main_main_progress">
            <br />
            <br />
            <br />
            <br />
            <div class="progress">
              <div class="indeterminate"></div>
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="page-footer lambdacolors_appbar">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h5 class="white-text">Made with <i class="fas fa-heart red-text text-darken-1"></i> on <a href="https://github.com/LambdAurora/aurbrowser.git/" class="orange-text text-accent-2">GitHub</a></h5>
      </div>
    </div>
  </div>
	<div class="footer-copyright">
		<div class="container">
  		v1.0.0 <a href="https://github.com/LambdAurora/aurbrowser/blob/master/LICENSE" class="grey-text text-darken-1 right">MIT License</a>
  	</div>
	</div>
</footer>
