<main>
  <div class="row">
    <div class="col s12 grey lighten-2 z-depth-1">
      <form method="get">
        <div class="input-field col s3">
          <select id="search_by" class="browser-default" name="by">
            <option value="name-desc" selected>Name, Description</option>
            <option value="name">Name only</option>
            <option value="maintainer">Maintainer</option>
          </select>
        </div>
        <div class="input-field col s9">
          <i class="material-icons prefix">search</i>
          <input id="search" name="search" type="search" required>
        </div>
      </form>
    </div>
  </div>
</main>
